//
//  DEV.xcconfig
//  MarvelComics
//
//  Created by Artem Umanets on 12/08/2018.
//  Copyright © 2018 Seedrop. All rights reserved.
//

#include "Pods/Target Support Files/Pods-MarvelComics/Pods-MarvelComics.dev.xcconfig"

SLASH=/
environment = dev
apiURL = https:$(SLASH)$(SLASH)gateway.marvel.com
